<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811640708019-l6t46vabarfpoethmnk5eift19ijndoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811640708019-l6t46vabarfpoethmnk5eift19ijndoj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811640708019-4iq6e1c210ug6i34h6fckd7b336lfiqb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvpFh9Y08UE8MQcL6y6dkKZZ2xY_ptyrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>811640708019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.missionyr.tworoom</string>
	<key>PROJECT_ID</key>
	<string>tworoomsample</string>
	<key>STORAGE_BUCKET</key>
	<string>tworoomsample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811640708019:ios:4e20fe0e493732724cc9c6</string>
</dict>
</plist>